<!DOCTYPE html>
<html>

<head>
    {{>headPartial}}
</head>

<body>
    {{>headerPartial}}

    <main>
        {{{body}}}
    </main>

    <footer>
        {{>footerPartial}}
    </footer>
</body>

</html>