<h2>Bewoners</h2>
</br>
<ul class="list-group">
    <li class="list-group-item">Andrea</li>
    <li class="list-group-item">Celeste</li>
    <li class="list-group-item">Floris</li>
    <li class="list-group-item">Froukje</li>
    <li class="list-group-item">Heleen</li>
    <li class="list-group-item">Jules</li>
    <li class="list-group-item">Lowie</li>
    <li class="list-group-item">Maas</li>
    <li class="list-group-item">Ada</li>
    <li class="list-group-item">Timo</li>
</ul>