<button class="btn btn-primary" onclick="previousWeek()">Previous week</button>
<button class="btn btn-primary" onclick="nextWeek()">Next week</button>
<br><br><br>
<p id="schoonmaakrooster"></p>


<script>
    getSchoonmaakrooster();
</script>